body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f5;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#uploadForm {
    margin-bottom: 30px;
}

input[type="file"] {
    padding: 8px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

/* Date header style */
.date-header {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

/* Thumbnail container */
.file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.file-item {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Thumbnail image/video/folder size */
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.folder-icon {
    font-size: 100px;
    color: #ffa500;
}

.file-item p {
    font-size: 12px;
    word-wrap: break-word;
}

.delete-btn {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c9302c;
}